<%= form_for [:admin, @article], html:{class:"definewidth m20"} do |f| %>
    <table class="table table-bordered table-hover definewidth m10">
      <tr>
        <td width="10%" class="tableleft">标题</td>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <td width="10%" class="tableleft">分类</td>
        <td>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </td>
      </tr>  
      <tr>
        <td class="tableleft">内容</td>
        <td>
          <%= f.text_area :content, :style => "width: 600px; height: 300px;" %>
        </td>
      </tr>
      <tr>
        <td class="tableleft"></td>
        <td>
          <%= f.submit "保存", :class => "btn btn-primary" %>&nbsp;&nbsp;
          <%= f.button "返回列表", :class => "btn btn-success", :id => "backid" %>
        </td>
      </tr>
    </table>
<% end %>


<script charset="utf-8" src="<%= root_path + 'kindeditor/kindeditor-min.js' %>"></script>
<script charset="utf-8" src="<%= root_path + 'kindeditor/lang/zh_CN.js' %>"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#article_content', {
            width: "700px",
            height: "420px",
            uploadJson: "<%= admin_articles_upload_image_path %>"
        });
    });
</script>
