<%= form_tag admin_articles_path, class:"form-inline definewidth m20", method:"get" do %>
  关键字：
    <%= text_field_tag :keywords, nil, :class => "abc input-default" %>&nbsp;&nbsp;
    <%= submit_tag "查询", :class => "btn btn-primary" %>&nbsp;&nbsp;
    <%= button_tag "新增文章", :type => "button", :class => "btn btn-success", :id => "addnew" %>
<% end %>

<table class="table table-bordered table-hover definewidth m10">
  <thead>
  <tr>
    <th>ID</th>
    <th>标题</th>
    <th>分类</th>
    <th>创建时间</th>
    <th>修改时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.category.name %></td>
    <td><%= article.created_at.localtime.strftime "%Y-%m-%d %H:%M:%S" %></td>
    <td><%= article.updated_at.localtime.strftime "%Y-%m-%d %H:%M:%S" %></td>
    <td>
      <%= link_to "编辑", edit_admin_article_path(article) %>
      <%= link_to "删除", admin_article_path(article), method: 'delete', data:{confirm: "确定要删除这篇文章吗？"} %>
    </td>
  </tr>
  <% end %>
</table>

<div>
  <%= will_paginate @articles %>
</div>

<script>

  $(function(){
      $("#addnew").click(function(){
          location.href = "<%= new_admin_article_path %>";
      });
  });

    function del(id)
    {

        if(confirm("确定要删除吗？"))
        {
            var url = "index.html";
            window.location.href=url;
        }

    }
</script>
