<% content_for :meta do%>
<% if defined? @category%>
<title><%= @category.name %> - FREDYANG的博客</title>
<meta name="keywords" content="<%= @category.name %> - FREDYANG的博客">
<meta name="description" content="关于<%= @category.name %>的文章">
<% else %>
<title>FREDYANG的博客</title>
<meta name="keywords" content="FREDYANG的博客">
<meta name="description" content="关于互联网、产品、开发和相关思想的记录">
<% end %>
<% end %>

<% @articles.each do |article| %>
<div class="blog-post">
  <h2 class="blog-post-title">
    <%= link_to article.title, article_path(article) %>
  </h2>

  <p>
    <% if article.summary_length > 0 %>
      <%= plaintext_summary article.content, :length => article.summary_length %>
    <% else %>
      <%= article.content.html_safe %>
    <% end %>
  </p>

  <p class="blog-post-meta"><%= article.created_at.localtime.strftime "%Y-%m-%d" %></p>

</div>
<% end %>

<% if @articles.next_page %>
<nav>
  <ul class="pager">
    <li>
      <%= link_to "Previous", params.merge(:page => @articles.previous_page) %>
    </li>
    <li>
      <%= link_to "Next", params.merge(:page => @articles.next_page) %>
    </li>
  </ul>
</nav>
<% end %>
