<% content_for :meta do%>
<title><%= @article.title %> - FREDYANG的博客</title>
<meta name="keywords" content="<%= @article.title %>">
<meta name="description" content="<%= sanitize(@article.content.gsub(/["']/, ''), :tags => []).squish.truncate(80, :omission => '') %>">
<% end %>


<h2 class="blog-post-title">
  <%= @article.title %>
</h2>
<p class="blog-post-meta"><%= @article.created_at.localtime.strftime "%Y-%m-%d" %></p>

<p>
  <%= @article.content.html_safe %>
</p>

