<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "admin/bootstrap.min" %>
  <%= stylesheet_link_tag "admin/bootstrap-responsive" %>
  <%= stylesheet_link_tag "admin/style" %>

  <%= javascript_include_tag "admin/jquery" %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "admin/bootstrap" %>
  <%= javascript_include_tag "admin/ckform" %>
  <%= javascript_include_tag "admin/common" %>

  <%= csrf_meta_tag %>

  <style type="text/css">
      body {
          padding-bottom: 40px;
      }
      .sidebar-nav {
          padding: 9px 0;
      }
      @media (max-width: 980px) {
          /* Enable use of floated navbar text */
          .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
          }
      }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
